.country-list{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.country-item{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.country-flag{
    width:50px;
}
.country-info{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.countryMainInfo{
    display:flex;
    align-items: center;
}
.text-bold{
    font-weight: 700;
}